body{
	background:url(../images/bg-rk.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
 *{margin:0;padding:0}

.cls{
	clear:both; 
	padding:0px; 
	font-size:0px; 

}
.cls:after{
	
	clear:both;
	height:0;
	padding:0px; 
	visibility:hidden;
	display:block;
	}



.Index_top_1{width:100%;margin:0 auto;}
.Index_top_1_1{
	width:1033px;margin:0 auto;min-height:117px; _height:117px;height:auto;overflow:hidden;
	
	
}

.Index_top_1_1_1{height:173px; float:left;color:#D0D0D0; font-size:14px;line-height:173px; width:230px; text-align:left;margin-bottom:-173px;position:absolute; z-index:9999;}


.Index_top_1_1_2{ color:#ffffff; font-size:14px;float:right;text-align:right; width:702px;border-left:1px solid #E6E6E6;}






.Index_top_1_2_1 ul{margin:0 auto;}
.Index_top_1_2_1 li{height:117px; width:130px;line-height:117px;font-size:12px;color:#ffffff;float:left; border-right:1px solid #E6E6E6;}

.Index_top_1_2_1 li a{color:#4E4D4C;height:80px;line-height:28px;font-size:14px;display:block;width:130px; text-align:center; padding-top:37px;}
.Index_top_1_2_1 li a:hover{height:80px;line-height:28px;font-size:14px;color:#ffffff;text-decoration:none;display:block;background:url(../images/navon.png)  no-repeat left -0px;width:130px;}

.Index_top_1_2_1 .off  a:hover{height:80px;line-height:28px;font-size:14px;color:#ffffff;text-decoration:none;display:block;width:130px;}
.Index_top_1_2_1 .off span{line-height:22px;font-size:14px;text-decoration:none;display:block;}


.Index_top_1_2_1 .on {color:#ffffff;background:url(../images/navon.png) no-repeat;width:130px; text-align:center; padding-top:37px;}
.Index_top_1_2_1 .on a{color:#ffffff;width:116px;}




.header{width:100%;margin:0 auto;z-index:1;}






.header_0{width:100%;margin:0 auto;}
.header_0 ul{height:140px;width:1002px;margin:0 auto;}
.header_1{text-align:center; color:#5D5D5B; padding-top:18px;}

.header_1 li{text-align:center;color:#5D5D5B;line-height:45px;height:45px; font-size:26px;}
.header_1 a{ color:#5D5D5B;line-height:45px;height:45px; font-size:26px;}
.header_1 a:hover{color:#9E0301;line-height:45px;height:45px;}

.genius_xdex_1{width:100%;margin:0 auto;min-height:182px; _height:182px;height:auto;overflow:hidden;padding-top:58px;}
.genius_index{width:541px;margin:0 auto;height:130px;}
.genius_index img{
	width: 100px;
}
.genius_index_1{float:left; width:120px;height:130px;}
.genius_index_1 ul{margin:0 auto;}
.genius_index_1 li span{}
.genius_index_1 li a{
	color:#707070;height:130px;line-height:38px;font-size:16px;display:block;text-align:center;
	background-image: url(../images/ys_1.png);
	background-repeat: no-repeat;
	background-size: 84%;
}
.genius_index_1 li a:hover{
	height:130px;line-height:38px;font-size:16px;color:#EB5C24;text-decoration:none;display:block;
	background-image: url(../images/ys_1_on.png);
	background-size: 84%;
}
.genius_index_1 .on {height:130px;line-height:38px;font-size:16px;color:#EB5C24;text-decoration:none;display:block;}
.genius_index_1 .on a{color:#EB5C24;}

.genius_index div:hover{
	opacity: 0.7;
}

.genius_index2{width:1024px;margin:0 auto;margin-top:45px;}
.genius_index2_1{height:60px;width:1024px;margin:0 auto;border-bottom:1px solid #C9C9C9;}
.genius_index2_1_1{height:60px;margin:0 auto;background:url(../images/mos.png) center bottom no-repeat;}
.genius_index2_1_1 li{text-align:center;color:#888888;line-height:50px;height:58px;font-size:30px;}
.genius_index2_1_1 li span{color:#000000;}
.genius_index2_2{height:38px;width:1024px;margin:0 auto;}
.genius_index2_2 li{text-align:center;color:#888888;line-height:38px;height:38px;font-size:14px;}



.genius_index3{height:34px;width:1024px;margin:0 auto;}
.genius_index3 li{text-align:center;color:#888888;line-height:34px;height:34px;}



.genius_index4{width:1024px;margin:0 auto;margin-top:40px;}
.genius_index4_1{height:60px;width:1024px;margin:0 auto;border-bottom:1px solid #C9C9C9;}
.genius_index4_1_1{height:60px;margin:0 auto;background:url(../images/mos4.png) center bottom no-repeat;}
.genius_index4_1_1 li{text-align:center;color:#888888;line-height:50px;height:58px;font-size:50px;}
.genius_index4_1_1 li span{color:#000000;}
.genius_index4_2{height:38px;width:1024px;margin:0 auto;}
.genius_index4_2 li{text-align:center;color:#888888;line-height:38px;height:38px;font-size:14px;}
.genius_index4_3{height:460px;width:1024px;margin:0 auto; padding-top:30PX;}
.genius_index4_3 li{text-align:center;}




.genius_index5{width:1024px;margin:0 auto;margin-top:15px;background:url(../images/tiaozi.png) left bottom no-repeat;height:60px;}
.genius_index5 li{float:left;text-align:left;color:#cccccc;line-height:60px;height:60px;font-size:20px; padding-left:5px;}
.genius_index5 li span{color:#000000;}



.genius_index6{width:1024px;margin:0 auto;margin-top:15px;}
.genius_index6_1{
	overflow:hidden;width:100%;
	background-color: white;
	width: 84%;
	margin: auto;
}
.genius_index6_1 li{float:left;width:139px;height:66px;padding:2px;margin:12px 13px 15px 13px;background:url(../images/hbbg.png) center top no-repeat;}
.genius_index6_1 li img{width:139px;height:66px;}



.genius_index7{height:34px;width:1024px;margin:0 auto;margin-top:25px;}
.genius_index7 li{text-align:center;color:#888888;line-height:34px;height:34px;}

/* æ–°é—»åŒè§†é¢‘ */
.genius_index8{
	width:100%;margin:0 auto;height:600px;overflow:hidden;margin-top:25px;
}

.genius_index8_1,.genius_index8_2,.genius_index8_3,.genius_index8_4{
	display: inline-block;
	float: left;
	width: 50%;
	height: 50%;
}

/* footer */


.footer{background-color: black;width:100%;height:80px;margin:0 auto; z-index:10;color:#B5B5B5;}
.footer ul{width:1008px;margin:0 auto;}
.footer_0{text-align:right;color:white;height:48px;border-top:solid 1px red;}
.footer_0 a{color:white;line-height:48px; font-size:12px;height:48px; margin-left:10px; margin-right:10px;}
.footer_0 a:hover{color:#D0D0D0;line-height:48px;height:48px;}


.footer_l_1{float:left; width:365px; padding-top:35px; margin-left:20px;}
.footer_l_1 li{text-align:left;color:#666666;line-height:33px;height:33px;}
.footer_l_1 li a{color:#666666;line-height:33px; font-size:14px;height:33px;}
.footer_l_1 li a:hover{color:#AB1727;line-height:33px;height:33px;}


.footer_l_2{text-align:center;float:right; width:988px; padding-top:5px;color:#666666; border-top:1px solid #444444; padding-left:20px;}
.footer_l_2 a{ color:#666666;line-height:42px;height:42px; font-size:14px;}
.footer_l_2 a:hover{color:#B5B5B5;line-height:42px;height:42px;}


.footer_l{text-align:center; color:#D0D0D0; float:right;background:url(../images/DT.png) 0 0px no-repeat; height:196px; width:1024px;}
.footer_l li{text-align:left;color:#D0D0D0; padding-left:370px;height:40px;}
.footer_l a{ color:#D0D0D0;line-height:40px;height:40px; font-size:16px;}
.footer_l a:hover{color:#9E0301;line-height:40px;height:40px;}

/* footer */




.genius_i{width:1024px;margin:0 auto;padding-top:10px;}
/* æˆåŠŸæ¡ˆä¾‹ ä¸Šå³ä¸‹å·¦ */
.bd{overflow:hidden}
.sc2{padding:0 0 20px;overflow:hidden;width:100%;}
.sc2 li{float:left;width:310px;margin:15px 15px 15px 15px;display:inline}
.sc2 li a{color:#111;display:block;zoom:1}
.sc2 li a:hover{color:#E11A2F;text-decoration:none;}
.sc2 li img{width:310px;height:230px;display:block;background:#fff url(../images/load.gif) no-repeat center center}
.sc2 li p{font-size:9px;-webkit-text-size-adjust:none;line-height:8px;_line-height:9px;height:9px;background:url(../images/ico_t.png) no-repeat;padding-left:6px;margin-top:8px;color:#fff}
.sc2 li a:hover p{background-position:-310px 0;color:#fff}
.sc2 li h3{height:20px;line-height:20px;overflow:hidden;cursor:pointer; text-align:center;font-weight:300; padding-left:6px;}
.sc2 a span{width:310px;height:234px;background:url(../images/index_off.png) no-repeat;cursor:pointer;float:left;margin:-230px 0 0;position:relative}
.sc2 a:hover span{background:url(../images/index_on.png) no-repeat -310px 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '../images/i20_2.png', sizingMethod = 'scale')}
/* æˆåŠŸæ¡ˆä¾‹ */


/* å†…é¡µæˆåŠŸæ¡ˆä¾‹ */
.bd_n{overflow:hidden}
.sc2_n{padding:0 0 20px;overflow:hidden;width:1310px; margin: auto;}
.sc2_n li{float:left;width:310px;margin:5px 10px 10px 4px;display:inline}
.sc2_n li a{color:#111;display:block;zoom:1}
.sc2_n li a:hover{color:#E11A2F;text-decoration:none;}
.sc2_n li img{width:310px;height:230px;display:block;background:#fff url(../images/load.gif) no-repeat center center}
.sc2_n li p{font-size:9px;-webkit-text-size-adjust:none;line-height:8px;_line-height:9px;height:9px;background:url(../images/ico_t.png) no-repeat;padding-left:6px;margin-top:8px;color:#fff}
.sc2_n li a:hover p{background-position:-310px 0;color:#fff}
.sc2_n li h3{height:20px;line-height:20px;overflow:hidden;cursor:pointer; text-align:center;font-weight:300; padding-left:6px;}
.sc2_n a span{width:310px;height:234px;background:url(../images/index_off.png) no-repeat;cursor:pointer;float:left;margin:-230px 0 0;position:relative}
.sc2_n a:hover span{background:url(../images/index_on.png) no-repeat -310px 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '../images/i20_2.png', sizingMethod = 'scale')}
/* å†…é¡µæˆåŠŸæ¡ˆä¾‹ */




/* æ­£æ–‡*/

/* å†…é¡µ*/
.y_index_ny{width:100%;margin:0 auto;}
.y_index_ny_left{width:1002px;margin:0 auto;float:left; height:32px;}
.y_index_ny_left h3{font-size:16px;color:#AE1D2C;font-weight:bold;float:left;}
.y_index_ny_left span{float:right;font-size:14px;color:#AE1D2C;}
.y_index_ny_left span a{color:#AE1D2C;font-size:14px;}
.y_index_ny_left span a:hover{color:#AE1D2C;font-size:14px;}
.y_index_ny_left font{font-size:14px;color:#444243;}
.y_index_nyi{width:100%;margin:0 auto;padding:1px; margin-bottom:10px;}
/* å†…é¡µ*/



/* å·¦è¾¹ */
.y_left{margin:0 auto; padding-bottom:10px;}
/* å·¦è¾¹ */

.y_lefts_1{font-size:16px; line-height:1.5em;color:#252120;}
/* left menu */
.y_lefts_1 ul{margin:0 auto;}
.y_lefts_1 li{ margin-right:1px;height:60px;line-height:50px;font-size:16px;color:#ffffff;background:url(../images/off.png) no-repeat;width:214px; float:left; text-align:center; margin-bottom:5px;}
.y_lefts_1 li a{color:#ffffff;height:60px;line-height:50px;font-size:16px;display:block;}
.y_lefts_1 li a:hover{height:60px;line-height:50px;font-size:16px;color:#ffffff;background:url(../images/on.png) no-repeat;text-decoration:none;display:block;}
.y_lefts_1 .on {background:url(../images/on.png) repeat-x;color:#ffffff;}
.y_lefts_1 .on a{color:#ffffff;}

/* left menu */
/* å·¦è¾¹1 */


/* æ­£æ–‡*/

/* article list */
.article-list{width:100%;line-height:1.5em; font-size:14px;color:#444243; }
.article-list .hd{border-color:#c00; margin-bottom:10px;}
.article-list .hd a{ color:#444243;}

.article-list ul{ margin:0 10px;}
.article-list li{border-bottom:1px dotted #343434;padding-bottom:7px; margin-bottom:8px;}
.article-list li .hh3{ margin-bottom:5px; font-size:15px; font-weight:bold; color:#4F4D4E;}
.article-list li .hh3 a{color:#4F4D4E;}
.article-list li .hh3 a:hover{ color:#9E0301;}
.article-list li .time{ float:right; font-size:14px; color:#727071; font-weight:normal;}
.article-list li p{ text-indent:2em; color:#444243;}
.article-list li p span{ color:#727071;}
.article-list li p span a{ color:#D0D0D0;}
.article-list li .more a{font-size:14px; color:#9E0301; font-weight:normal;}
/* article list */


/* article pic*/
.article{}
.article .lineTime{ margin-left:10px;}
.article li{ height:150px;}
.articlePic{ width:125px; height:140px; position:relative; float:left; margin-right:10px;display:inline; border:1px solid #EDEDED; padding:2px;}
.articlePic img{width:125px; height:140px;}

.articlePics{width:238px; height:290px;float:left; text-align:center;margin-right:1px;margin-left:1px;}

/*.articlePics img{width:215px; height:245px;}*/
.articlePics span a{width:215px; height:245px; border:2px solid #313131;display:block;background-color:#202020;overflow:hidden;text-align:center;}
.articlePics span a:hover{width:215px; height:245px; border:2px solid #9E0301;}

.articlePics a{font-size:15px; line-height:32px;color:#444243;}
.articlePics a:hover{font-size:15px; line-height:32px;color:#9E0301;}


.articlePics99{width:238px; height:210px;float:left; text-align:center;margin-right:1px;margin-left:1px;}
/*.articlePics99 img{width:215px; height:170px;}*/
.articlePics99 span a{width:215px; height:170px; border:2px solid #313131;display:block;background-color:#202020;overflow:hidden;text-align:center;}
.articlePics99 span a:hover{width:215px; height:170px; border:2px solid #9E0301;}
.articlePics99 a{font-size:15px; line-height:32px;color:#444243;}
.articlePics99 a:hover{font-size:15px; line-height:32px;color:#9E0301;}



.articlePic3{ width:165px; height:160px; position:relative; float:left; margin-right:10px;display:inline; border:1px solid #505050; padding:2px;}
.articlePic3 img{width:165px; height:160px;}
/* article pic*/



/* content */
.content_txt{font-size:14px; line-height:1.5em; padding:0px; text-align:left;color:#444243;min-height:485px;}
.content_txt p{}
.content_txt td{ border:1px solid #EBEBEB;color:#444243;font-size:14px; padding-left:5px;}
.content_txt img{max-width:900px;_max-width:900px; margin:5px; border:2px solid #B2B2B2;}
.content_txt h5,.content_txt h3,.content_txt h4{ font-size:16px; font-weight:normal;}
.articles{line-height:22px; padding:5px 0 10px; overflow:hidden; font-size:16px;text-align:center; font-weight:bold;}
.biaoti_div{ border-bottom:2px dotted #484848;_border-bottom:2px solid #484848; margin-bottom:15px; padding-bottom:10px;}
.laiyuan span{margin:0 10px;}
.laiyuan{ text-align:center; line-height:20px;  }
/* content */



.message{color:#000000;}
.message tr,.message td {color:#000000;}
.msgForm{ margin-top:1px;}
.msgForm tr,.msgForm td {color:#000000;}
.msgForm font{color:#9E0301; margin-left:2px;}
/*.msgForm input{vertical-align:middle; border:1px solid #EBEBEB; background-color:#ffffff; height:18px; width:220px;color:#000000;}*/
/*.msgForm .btn,.msgForm .btn2{border: 0px;background:url(../images/1_r4_c10.png) repeat-x center; width:50px; line-height:25px; height:25px;color:#fff;text-align:center;cursor:pointer;}*/
.msgForm .btn2{color:#fff;}
.dxyk input{vertical-align:middle; border:1px solid #ffffff; background-color:#ffffff; height:18px; width:20px;color:#fff;}
.formss th,.formss td{ border:1px solid #D0D0D0;  color:#D0D0D0; font-size:13px;}

.y_index_ty1{width:1002px;margin:0 auto;margin-top:10px;}





/* é€šç”¨ */

.y_index_y4{width:100%;margin:0 auto;float:right;}

.y_indexi_1{background:url(../images/32dfsa.jpg) repeat-x;height:51px;}
.y_indexi_1_1{height:49px;width:5px;float:left;background:url(../images/1y_indexi_1_1.jpg) no-repeat; font-size:0px;}
.y_indexi_1_2{height:49px;padding-left:10px;padding-right:10px;float:left;color:#237C28;font-size:16px;text-align:center;line-height:49px;background:url(../images/1y_indexi_1_2.jpg) repeat-x;}
.y_indexi_1_3{height:49px;width:5px;float:left;background:url(../images/1y_indexi_1_3.jpg) no-repeat;font-size:0px;}
.y_indexi_1_4{height:49px;float:right;text-align:right;line-height:49px; padding-right:8px;}
.y_indexi_1_4 a{height:43px;line-height:49px; color:#787878;}
.y_indexi_1_4 a:hover{color:#9E0301;}
.y_indexi_1_4 span {text-align:left;font-size:14px;color:#9E0301;line-height:28px;height:28px;padding-right:1px;}

.y_indexi_1_5{height:33px;width:3px;float:right;background:url(../ximages/y_indexi_1_5.jpg) repeat-x;font-size:0px;}

.y_indexi_2{
	margin: 150px 0 200px 0;
	width: 100%;
	height: 900px;
}
.y_indexi_2_img{
	width: 1070px;
	margin: 0 auto;
}
/* é€šç”¨ */



















/* message */
.message{ padding:2px !important; color:#555555;}
.message ul{ border-bottom:1px solid #ddd;}
.message li{ border:1px solid #ddd; border-bottom:0; padding:10px 20px;}
.message .even{ background:#f5f5f5;}
.msgList{ margin-bottom:10px;}
.msgTitle{ margin-bottom:5px; width:88%;margin-left:40px;}
.msgTitle h3{ float:left; font-weight:normal;}
.msgTitle p{ float:right; color:#999; font-size:12px;}
.msgTitle p strong{ font-weight:normal;}
.msgCon{}
.reMsgList{ border:1px solid #ddd; padding:9px !important; background:#f5f5f5;}
.message .even .reMsgList{ background:#fff;}
.reMsgCon{ margin-bottom:10px; width:88%;margin-left:40px;}
.reMsg-time { color:#999; text-align:right; font-size:12px;}
.reMsg-time strong{ font-weight:normal;}
.message th,.message td { border:1px solid #ddd; padding:3px 5px;}
.msgForm{ margin-top:20px;}
.msgForm tbody th{ text-align:right; background:#f5f5f5;}
.msgForm thead th{ background:#eee; font-size:14px; font-weight:bold;}
.msgForm input{ vertical-align:middle;}
.msgForm .btn,.msgForm .btn2{ border:1px #EA0702 solid; background:red; padding:6px 10px; color:#fff; font-weight:bold; cursor:pointer; border-radius:3px;}
.msgForm .btn2{ border-color:#66CC66; background:#6C6;}


/* report */
.red{ color:red;}
#nav .current,i,.btn-green,.btn-orange,.btn-gray,.btn-green2,.btn-orange2,.law .bd li{}
.btn-green,.btn-orange,.btn-gray,.btn-green2,.btn-orange2{ border:0; display:inline-block; width:150px; height:35px; line-height:33px; font-size:24px; font-family:"å¾®è½¯é›…é»‘","é»‘ä½“","å¹¼åœ†"; text-align:center; color:#fff;background-position:0 -40px; text-indent:0; cursor:pointer;}
.btn-gray{ background-position:0 -75px; color:#777; cursor:default;}
.btn-gray .time{ font-size:18px; font-weight:normal;}
.btn-green2,.btn-orange2{ width:80px; height:25px; font-size:16px; background-position:-80px -145px;}
.btn-orange2{background-position:-80px -170px;}


.form{ padding:10px 0;}
.form th,.form td{ border:1px solid #ccc; padding:3px 5px; color:#444; font-size:12px;}
.form tbody th{ text-align:right; font-weight:normal; background:#f5f5f5; width:120px;}
.form tbody td{ background:#fff;}
.form thead th{ background:#ddd; font-size:14px;}
.form input{ line-height:16px;}
.form select{ height:21px;}

.genius_index8_1 .genius_index8_2 .genius_index8_3 .genius_index8_4{
	width: 50%;
	height: 50%;
	position: relative;
	float: left;
	margin: 0 ;
	border: dashed 1px red;
}

.sperate{
	height: 120px;
}

.img_about,.img_cult{
	float: left;
	width: 340px;
	height: 500px;
	margin-left: 180px;
}
.img_cult{
	margin-top: -65px;
	margin-left:155px;
}
.sentence_about{
	line-height: 30px;
	float: left;
	width: 520px;
	height: 500px;
	margin-left: 220px;
}
.sentence_about_p{
	font-size: 24px;
	font-family: "楷体";
	text-indent: 2em;
}

.sentence_cult{
	line-height: 30px;
	float: left;
	width: 520px;
	height: 500px;
	margin-left: 200px;
}
.sentence_cult p{
	float: left;
	font-size: 24px;
	font-family: "楷体";
	height: 100%;
	width: 46px;
}

.about_foot_pic{
	width: 100%;
}
.about_foot_pic img{
	width: 100%;
	margin-top: -270px;
}

.genius_index8_1_img{
	width: 200px;
	margin: auto;
	margin-top: 40px;
}
.genius_index8_1_letters{
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
.genius_index8_1_letters p{
	font-family: "微软雅黑";
	color: white;
}
.genius_index8_2_letters{
	width: 100%;
	margin-top: 60px;
	text-align: center;
}
.genius_index8_2_letters p{
	color: white;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
}
.weibo_img{
	margin: auto;
	height: 70px;
	width: 70px;
	border: solid 1px  gray;
}
.wechat_img{
	margin: auto;
	height: 70px;
	width: 70px;
	border: solid 1px  gray;
}
.wechat{
	width: 100px;
	height: 100px;
	text-align: center;
	float: left;
}
.weibo{
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
}
.qrcode{
	width: 200px;
	height: 120px;
	margin: auto;
	margin-top: 100px;
}
